In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Train.csv')

In [3]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

# DATA CLEANING

In [5]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
df['Item_Weight'].mean()

12.857645184135976

In [7]:
df['Item_Weight'].fillna(df['Item_Weight'].mean(),inplace=True)

In [8]:
df['Outlet_Size'].mode()[0]

'Medium'

In [9]:
df['Outlet_Size'].fillna(df['Outlet_Size'].mode()[0], inplace=True)

In [10]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [11]:
df['Item_Type_Combined'] = df['Item_Identifier'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
df['Item_Type_Combined'] = df['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
df['Item_Type_Combined'].value_counts()

Item_Type_Combined
Food              6125
Non-Consumable    1599
Drinks             799
Name: count, dtype: int64

In [12]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,Food
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850,Food
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,Non-Consumable
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,Food
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,Drinks

In [13]:
print('Original Categories:')
print(df['Item_Fat_Content'].value_counts())

print('\nModified Categories:')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print(df['Item_Fat_Content'].value_counts())

Original Categories:
Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

Modified Categories:
Item_Fat_Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64

In [14]:
# df['Years_Established'] = df['Outlet_Establishment_Year'].apply(lambda x: 2023 - x)

In [15]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,Food
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850,Food
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,Non-Consumable
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,Food
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,Drinks

In [16]:
ui = df['Outlet_Identifier'].unique()

In [17]:
year = df['Outlet_Establishment_Year'].unique()

In [18]:
print('oi : ',ui)
print('year : ',year)

oi :  ['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']
year :  [1999 2009 1998 1987 1985 2002 2007 1997 2004]

In [19]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Item_Type_Combined'],
      dtype='object')

In [20]:
df['Item_Visibility'].value_counts(0)

Item_Visibility
0.000000    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: count, Length: 7880, dtype: int64

In [21]:
df['Item_Visibility']=df['Item_Visibility'].replace(0,df['Item_Visibility'].mean())

In [22]:
df['Item_Visibility'].value_counts(0)

Item_Visibility
0.066132    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: count, Length: 7880, dtype: int64

In [23]:
colums_to_drop = ['Item_Visibility','Item_Identifier','Outlet_Identifier','Outlet_Establishment_Year']

In [24]:
df.drop(colums_to_drop,axis=1,inplace=True)

In [25]:
df

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,9.300,Low Fat,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,5.920,Regular,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,17.500,Low Fat,Meat,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,19.200,Regular,Fruits and Vegetables,182.0950,Medium,Tier 3,Grocery Store,732.3800,Food
4,8.930,Low Fat,Household,53.8614,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable
...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,Snack Foods,214.5218,High,Tier 3,Supermarket Type1,2778.3834,Food
8519,8.380,Regular,Baking Goods,108.1570,Medium,Tier 2,Supermarket Type1,549.2850,Food
8520,10.600,Low Fat,Health and Hygiene,85.1224,Small,Tier 2,Supermarket Type1,1193.1136,Non-Consumable
8521,7.210,Regular,Snack Foods,103.1332,Medium,Tier 3,Supermarket Type2,1845.5976,Food
8522,14.800,Low Fat,Soft Drinks,75.4670,Small,Tier 1,Supermarket Type1,765.6700,Drinks

In [26]:
from sklearn.preprocessing import StandardScaler

s1 = StandardScaler()
df[['Item_Weight']] = s1.fit_transform(df[['Item_Weight']])


s2 = StandardScaler()
df[['Item_MRP']] = s2.fit_transform(df[['Item_MRP']])

In [27]:
df

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,-0.841872,Low Fat,Dairy,1.747454,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,-1.641706,Regular,Soft Drinks,-1.489023,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,1.098554,Low Fat,Meat,0.010040,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,1.500838,Regular,Fruits and Vegetables,0.660050,Medium,Tier 3,Grocery Store,732.3800,Food
4,-0.929428,Low Fat,Household,-1.399220,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable
...,...,...,...,...,...,...,...,...,...
8518,-1.418084,Low Fat,Snack Foods,1.180783,High,Tier 3,Supermarket Type1,2778.3834,Food
8519,-1.059578,Regular,Baking Goods,-0.527301,Medium,Tier 2,Supermarket Type1,549.2850,Food
8520,-0.534243,Low Fat,Health and Hygiene,-0.897208,Small,Tier 2,Supermarket Type1,1193.1136,Non-Consumable
8521,-1.336444,Regular,Snack Foods,-0.607977,Medium,Tier 3,Supermarket Type2,1845.5976,Food
8522,0.459634,Low Fat,Soft Drinks,-1.052261,Small,Tier 1,Supermarket Type1,765.6700,Drinks

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:

l1 =  LabelEncoder()
l2 =  LabelEncoder()
l3 =  LabelEncoder()
l4 =  LabelEncoder()
l5 =  LabelEncoder()
l6 =  LabelEncoder()
df['Item_Fat_Content'] = l1.fit_transform(df['Item_Fat_Content'])
df['Item_Type'] = l2.fit_transform(df['Item_Type'])
df['Outlet_Size'] = l3.fit_transform(df['Outlet_Size'])
df['Outlet_Location_Type'] = l4.fit_transform(df['Outlet_Location_Type'])
df['Outlet_Type'] = l5.fit_transform(df['Outlet_Type'])
df['Item_Type_Combined'] = l6.fit_transform(df['Item_Type_Combined'])

In [30]:
df

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,-0.841872,0,4,1.747454,1,0,1,3735.1380,1
1,-1.641706,1,14,-1.489023,1,2,2,443.4228,0
2,1.098554,0,10,0.010040,1,0,1,2097.2700,1
3,1.500838,1,6,0.660050,1,2,0,732.3800,1
4,-0.929428,0,9,-1.399220,0,2,1,994.7052,2
...,...,...,...,...,...,...,...,...,...
8518,-1.418084,0,13,1.180783,0,2,1,2778.3834,1
8519,-1.059578,1,0,-0.527301,1,1,1,549.2850,1
8520,-0.534243,0,8,-0.897208,2,1,1,1193.1136,2
8521,-1.336444,1,13,-0.607977,1,2,2,1845.5976,1
8522,0.459634,0,14,-1.052261,2,0,1,765.6700,0

In [31]:
df = pd.get_dummies(df, columns=['Item_Fat_Content','Outlet_Size','Outlet_Location_Type','Outlet_Type','Item_Type_Combined'])

In [32]:
df

,Item_Weight,Item_Type,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3,Item_Type_Combined_0,Item_Type_Combined_1,Item_Type_Combined_2
0,-0.841872,4,1.747454,3735.1380,True,False,False,True,False,True,False,False,False,True,False,False,False,True,False
1,-1.641706,14,-1.489023,443.4228,False,True,False,True,False,False,False,True,False,False,True,False,True,False,False
2,1.098554,10,0.010040,2097.2700,True,False,False,True,False,True,False,False,False,True,False,False,False,True,False
3,1.500838,6,0.660050,732.3800,False,True,False,True,False,False,False,True,True,False,False,False,False,True,False
4,-0.929428,9,-1.399220,994.7052,True,False,True,False,False,False,False,True,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,-1.418084,13,1.180783,2778.3834,True,False,True,False,False,False,False,True,False,True,False,False,False,True,False
8519,-1.059578,0,-0.527301,549.2850,False,True,False,True,False,False,True,False,False,True,False,False,False,True,False
8520,-0.534243,8,-0.897208,1193.1136,True,False,False,False,True,False,True,False,False,True,False,False,False,False,True
8521,-1.336444,13,-0.607977,1845.5976,False,True,False,True,False,False,False,True,False,False,True,False,False,True,False
8522,0.459634,14,-1.052261,765.6700,True,False,False,False,True,True,False,False,False,True,False,False,True,False,False

In [33]:
# Define a list of columns you want to convert to 0s and 1s
columns_to_convert = ['Item_Fat_Content_0','Item_Fat_Content_1','Outlet_Size_0','Outlet_Size_1','Outlet_Size_2',
                      'Outlet_Location_Type_0','Outlet_Location_Type_1','Outlet_Location_Type_2','Outlet_Type_0',
                      'Outlet_Type_1','Outlet_Type_2','Outlet_Type_3','Item_Type_Combined_0','Item_Type_Combined_1',
                     'Item_Type_Combined_2']

# Apply the conversion using apply and lambda
df[columns_to_convert] = df[columns_to_convert].apply(lambda x: x.astype(int))

In [34]:
df

,Item_Weight,Item_Type,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3,Item_Type_Combined_0,Item_Type_Combined_1,Item_Type_Combined_2
0,-0.841872,4,1.747454,3735.1380,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
1,-1.641706,14,-1.489023,443.4228,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0
2,1.098554,10,0.010040,2097.2700,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
3,1.500838,6,0.660050,732.3800,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0
4,-0.929428,9,-1.399220,994.7052,1,0,1,0,0,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,-1.418084,13,1.180783,2778.3834,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
8519,-1.059578,0,-0.527301,549.2850,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0
8520,-0.534243,8,-0.897208,1193.1136,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1
8521,-1.336444,13,-0.607977,1845.5976,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0
8522,0.459634,14,-1.052261,765.6700,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0

In [35]:
#df['Item_Outlet_Sales'] =df['Item_Outlet_Sales'].apply(lambda x: round(x))

# DATA SPLITTING

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X = df.drop(['Item_Outlet_Sales'],axis=1)
Y = df['Item_Outlet_Sales']

In [38]:
X

,Item_Weight,Item_Type,Item_MRP,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3,Item_Type_Combined_0,Item_Type_Combined_1,Item_Type_Combined_2
0,-0.841872,4,1.747454,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
1,-1.641706,14,-1.489023,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0
2,1.098554,10,0.010040,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
3,1.500838,6,0.660050,0,1,0,1,0,0,0,1,1,0,0,0,0,1,0
4,-0.929428,9,-1.399220,1,0,1,0,0,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,-1.418084,13,1.180783,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
8519,-1.059578,0,-0.527301,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0
8520,-0.534243,8,-0.897208,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1
8521,-1.336444,13,-0.607977,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0
8522,0.459634,14,-1.052261,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0

In [39]:
Y

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [40]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,random_state=101,test_size=0.2)

In [41]:
x_train

,Item_Weight,Item_Type,Item_MRP,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3,Item_Type_Combined_0,Item_Type_Combined_1,Item_Type_Combined_2
3684,1.512670,4,-1.385823,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
1935,-1.237056,14,-0.744309,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
5142,1.536334,10,0.418953,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0
4978,-1.532853,4,0.585206,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0
2299,0.909245,4,-0.483435,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,-1.859412,14,0.768574,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0
5695,0.424138,7,-1.357467,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
8006,-0.084632,8,-0.710669,1,0,0,0,1,1,0,0,0,1,0,0,0,0,1
1361,-0.748400,0,1.380210,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0
1547,0.672607,9,-1.339886,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1

In [42]:
x_test

,Item_Weight,Item_Type,Item_MRP,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3,Item_Type_Combined_0,Item_Type_Combined_1,Item_Type_Combined_2
8179,-0.439588,8,-0.652900,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
8355,1.216873,13,0.122834,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
3411,-1.215759,1,-1.018030,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0
7089,1.855794,6,-1.622609,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
6954,-1.255987,3,0.191761,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,0.921076,13,0.229162,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0
4996,-1.026449,14,0.198734,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0
531,0.648944,11,0.703366,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1
3891,1.003900,9,-0.422454,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
6629,-1.561249,10,0.156473,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0

In [43]:
y_train

3684     163.7868
1935    1607.2412
5142    1510.0344
4978    1784.3440
2299    3558.0352
          ...
599     5502.8370
5695    1436.7964
8006    2167.8448
1361    2700.4848
1547     829.5868
Name: Item_Outlet_Sales, Length: 6818, dtype: float64

In [44]:
y_test

8179     904.8222
8355    2795.6942
3411    1947.4650
7089     872.8638
6954    2450.1440
          ...
1317    1721.0930
4996     914.8092
531      370.1848
3891    1358.2320
6629    2418.1856
Name: Item_Outlet_Sales, Length: 1705, dtype: float64

# MODEL BUILDING

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
LR = LinearRegression()

In [47]:
LR.fit(x_train,y_train)

LinearRegression()

In [48]:
y_pred = LR.predict(x_test)

In [49]:
y_pred

array([1314.7814315 , 2421.82160246, 1372.96947403, ..., 1005.81074505,
       1546.74248094, 2509.6320999 ])

In [50]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [51]:
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))

0.5571899001909681
824.5021765483344
1098.553154107989

In [52]:
from sklearn.ensemble import RandomForestRegressor

In [53]:
RF = RandomForestRegressor()

In [54]:
RF.fit(x_train,y_train)

RandomForestRegressor()

In [55]:
y_pred_rf=RF.predict(x_test)

In [56]:
y_pred_rf

array([1668.468168, 3363.508414, 1327.458724, ...,  440.932708,
       1251.690684, 2635.649196])

In [57]:
print(r2_score(y_test,y_pred_rf))
print(mean_absolute_error(y_test,y_pred_rf))
print(np.sqrt(mean_squared_error(y_test,y_pred_rf)))

0.5448753868331734
790.1198415831684
1113.723741729723

In [58]:
# from sklearn.model_selection import RepeatedStratifiedKFold
# from sklearn.model_selection import GridSearchCV

# # define models and parameters
# model = RandomForestRegressor()
# n_estimators = [10, 100, 1000]
# max_depth=range(1,31)
# min_samples_leaf=np.linspace(0.1, 1.0)
# max_features=["auto", "sqrt", "log2"]
# min_samples_split=np.linspace(0.1, 1.0, 10)

# # define grid search
# grid = dict(n_estimators=n_estimators)

# #cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=101)

# grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, 
#                            scoring='r2',error_score=0,verbose=2,cv=2)

# grid_search_forest.fit(x_train, y_train)

# # summarize results
# print(f"Best: {grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
# means = grid_search_forest.cv_results_['mean_test_score']
# stds = grid_search_forest.cv_results_['std_test_score']
# params = grid_search_forest.cv_results_['params']

# for mean, stdev, param in zip(means, stds, params):
#     print(f"{mean:.3f} ({stdev:.3f}) with: {param}")

Fitting 2 folds for each of 3 candidates, totalling 6 fits
Best: 0.537 using {'n_estimators': 1000}
0.499 (0.004) with: {'n_estimators': 10}
0.533 (0.001) with: {'n_estimators': 100}
0.537 (0.002) with: {'n_estimators': 1000}

In [59]:
#  grid_search_forest.best_params_

{'n_estimators': 1000}

In [60]:
# grid_search_forest.best_score_

0.5370877431667243

In [61]:
# Y_pred_rf_grid=grid_search_forest.predict(x_test)

In [62]:
# mean_absolute_error(y_test,Y_pred_rf_grid)

785.8606009563811

In [63]:
# accuracy = RF.score(x_test, y_test)

In [64]:
# accuracy

0.5448753868331734

In [65]:
import joblib

In [66]:
joblib.dump(LR,"LR.joblib")

['LR.joblib']

In [67]:
#joblib.dump(s1,"LR.joblib")

In [68]:

# l1 =  LabelEncoder()
# l2 =  LabelEncoder()
# l3 =  LabelEncoder()
# l4 =  LabelEncoder()
# l5 =  LabelEncoder()
# l6 =  LabelEncoder()

In [69]:
joblib.dump(s1,"item_weight.joblib")

['item_weight.joblib']

In [70]:
joblib.dump(s2,"price.joblib")

['price.joblib']

In [71]:
joblib.dump(RF,"RF.joblib")

['RF.joblib']

In [72]:
value = -0.912
rescaled_value = s1.inverse_transform([[value]])[0, 0]
rescaled_value

9.003646461282871